fastapi
uvicorn
python-multipart
sqlalchemy
aiosqlite
asyncpg
chromadb
httpx
python-dotenv
pydantic
pydantic-settings
celery
redis
PyMuPDF
langfuse
python-jose[cryptography]
passlib[bcrypt]
groq
greenlet
bcrypt==4.0.1